/************************ common ************************/

html,
body {
    margin: 0;
    font-size: 14px;
}

td, th {
    padding: 0;
}

.clearfix {
    overflow: hidden;
    _zoom: 1;
}







/************************ table ************************/

table {
    margin: 50px;
    border-collapse: separate;
    border-spacing: 0;
}

td,
th {
    box-sizing: border-box;
    min-width: 120px;
    height: 40px;
    text-align: center;
    white-space: nowrap;
}

th {
    padding: 12px 16px;
    background-color: #03A9F4;
    border-right: 1px solid #008ccc;
    border-bottom: 1px solid #008ccc;
    color: #f7f7f7;
    font-size: 16px;
}

tbody th {
    height: 50px;
    text-align: left;
}

tbody tr[data-tr-level="1"] th {
    padding-left: 44px;
}

td {
    box-sizing: border-box;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background-color: #eee;
}

.drag {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.toggle {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 15px 0 -10px;
    border: 6px solid transparent;
    border-right-color: #fff;
    border-bottom-color: #fff;
}

.toggle:hover {
    cursor: pointer;
}

.fold .toggle {
    border-right-color: transparent\0;
    border-bottom-color: transparent\0;
    border-left-color: #fff\0;
    transform: rotate(-45deg);
    transform: rotate(0deg)\0;
}

:root .fold .toggle {
    border-bottom-color: #fff;
    border-right-color: #fff;
    border-left-color: transparent;
    transform: rotate(-45deg);
}

.edit {
    background-color: #fff;
}

.edit:hover {
    cursor: pointer;
    background-color: #ecf6fd;
}

.edit.change {
    background-color: #FFEB3B;
}

.edit.edit-now {
    background-color: #fff;
}

.edit.edit-now:hover {
    background-color: #fff;
}

.edit .edit-in {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 0 10px;
}

.edit-in input {
    float: left\0;
    flex: 1;
    box-sizing: border-box;
    min-width: 50px;
    width: 100px;
    height: 30px;
    padding: 4px 8px;
}

.edit-in-btns {
    float: left\0;
    display: block;
    display: none\0;
    width: 20px;
}










/* >ie8 */

:root .edit-in-btns {
    display: block;
}

.edit-in-btns .top,
.edit-in-btns .bottom {
    box-sizing: border-box;
    width: 20px;
    height: 15px;
    line-height: 15px;
}

.edit-in-btns .top:before {
    content: '';
    display: inline-block;
    position: relative;
    bottom: 4px;
    margin: 0 auto;
    width: 10px;
    height: 4px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    transform: rotate(-45deg);
}

.edit-in-btns .bottom:before {
    content: '';
    display: inline-block;
    position: relative;
    bottom: 4px;
    left: 4px;
    margin: 0 auto;
    width: 10px;
    height: 4px;
    border-bottom: 1px solid #000;
    transform: rotate(-45deg);
}

.edit-in-btns .bottom::after {
    content: '';
    display: inline-block;
    position: relative;
    bottom: 4px;
    right: 3px;
    margin: 0 auto;
    width: 10px;
    height: 4px;
    border-bottom: 1px solid #000;
    transform: rotate(45deg);
}

.edit-in-btns .top:hover,
.edit-in-btns .bottom:hover {
    /* border: 1px solid #000; */
    background-color: #c7c7c7;
}